<div class="ui-fluid">
    <div class="card card-w-title">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <img src="../../../assets/images/MicromedAzul.png" class="logo" style="margin-left: 22px; margin-bottom: 17px; margin-top: 10px;">
            </div>

            <form [formGroup]="form">
                <div class="ui-g-12">
                    <label for="username">Usuário</label>
                    <div class="ui-inputgroup">
                        <input type="text" formControlName='username' class="ui-inputtext ui-widget" placeholder="Usuário"
                            autocomplete="off">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <label for="password">Senha</label>
                    <div class="ui-inputgroup">
                        <input type="password" formControlName='password' class="ui-inputtext ui-widget" placeholder="Senha"
                            autocomplete="off">
                        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <button type="submit" [disabled]="form.invalid" (click)="login(form.value)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue-btn raised-btn">
                        <span class="ui-button-text ui-c">Acessar</span>
                    </button>
                </div>
            </form>

            <div class="ui-g-12">
                <div style="text-align: center">
                    <a style="cursor: pointer" (click)="display=true" label="Show">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>
